In [2]:
import numpy as np
import pandas as pd
import datetime

import matplotlib.pyplot as plt

In [25]:
stop_times = pd.read_csv("../../Manchester_Data/stop_times.csv")

In [26]:
stop_times = stop_times.rename(columns={"trip_id": "id", "stop_id": "stopCode", "stop_sequence": "sequence"})

stop_times = stop_times.drop(columns=['arrival_time', 'departure_time', 'pickup_type', 'drop_off_type'])

stop_times['timingPoint'] = 0

stop_times = stop_times[['id','sequence','stopCode','timingPoint']]

In [9]:
patterns = pd.read_csv("../../Trapeze_Data/patterns.csv")

In [15]:
patterns.head()

       id  sequence      stopCode  timingPoint
0  167_16         1  1290BOB20498            1
1  167_16         2  1290BOA05784            1
2  167_16         3  1290BOB20387            1
3  167_16         4  1290BOB20387            1
4  167_16         5  1290BOA05876            0

In [27]:
stop_times.head()

           id  sequence     stopCode  timingPoint
0  Trip000001         1  1800SB33551            0
1  Trip000001         2  1800SB05841            0
2  Trip000001         3  1800SB33791            0
3  Trip000001         4  1800SB33811            0
4  Trip000001         5  1800SB33751            0

In [28]:
stop_times.to_csv("../../Manchester_Data/transformed/patterns.csv")