In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.colors as colors

from datetime import datetime

import gmaps

gmaps.configure(api_key="AIzaSyAnubumevhate_wi70P93UM550PckRfLW0")

## Loading and preparing the data

In [2]:
stop_events = pd.read_csv("../Intermediate_Data/stop_events_with_features.csv", parse_dates=[1, 5, 6, 18, 19])

stop_events.head()

,id,date,stopCode,aimedArrival,aimedDeparture,actualArrival,actualDeparture,vehicle,workid,patternId,...,mean_dwell_prev_durations_by_stop_code,mean_dwell_dest_by_stop_code_and_hour,mean_dwell_prev_by_stop_code_and_hour,mean_dwell_dest_by_stop_code_and_hour_and_day,mean_dwell_prev_by_stop_code_and_hour_and_day,line_distance,midpoint_lat,midpoint_lon,to_centre_dist,direction
0,167_101_1,2018-09-18,1200BOB20158,2018-09-18 07:02:00,2018-09-18 07:02:00,2018-09-18 07:02:03,2018-09-18 07:02:08,186,167_101_1,167_79,...,342.259793,26.667984,342.898507,24.176471,362.883721,0.464474,-1.742191,50.742778,10.024414,0.754853
1,167_101_1,2018-09-18,1200BOB20156,2018-09-18 07:03:00,2018-09-18 07:03:00,2018-09-18 07:02:25,2018-09-18 07:02:30,186,167_101_1,167_79,...,28.084988,10.464151,26.667984,11.787879,24.176471,0.217418,-1.745413,50.740586,9.745283,0.965312
2,167_101_1,2018-09-18,1200BOB20155,2018-09-18 07:04:00,2018-09-18 07:04:00,2018-09-18 07:02:48,2018-09-18 07:02:53,186,167_101_1,167_79,...,13.757110,23.686347,10.464151,32.272727,11.787879,0.245692,-1.748197,50.739482,9.526394,0.927024
3,167_101_1,2018-09-18,1200BOB20153,2018-09-18 07:05:00,2018-09-18 07:05:00,2018-09-18 07:03:11,2018-09-18 07:03:16,186,167_101_1,167_79,...,21.841974,29.801471,23.686347,31.787879,32.272727,0.235304,-1.751031,50.738274,9.302113,0.938545
4,167_101_1,2018-09-18,1200BOB20151,2018-09-18 07:07:00,2018-09-18 07:07:00,2018-09-18 07:03:58,2018-09-18 07:04:51,186,167_101_1,167_79,...,30.854500,43.127341,29.801471,43.093750,31.787879,0.484816,-1.755623,50.736871,8.953191,0.983819

In [3]:
stops = pd.read_csv("../Trapeze_Data/Stops.csv")

In [4]:
stop_events["aimedArrival"] = stop_events["aimedArrival"].astype("datetime64[ns]")
stop_events["aimedDeparture"] = stop_events["aimedDeparture"].astype("datetime64[ns]")
stop_events["prev_aimedArrival"] = stop_events["prev_aimedArrival"].astype("datetime64[ns]")
stop_events["prev_aimedDeparture"] = stop_events["prev_aimedDeparture"].astype("datetime64[ns]")
stop_events["prev_actualArrival"] = stop_events["prev_actualArrival"].astype("datetime64[ns]")
stop_events["prev_actualDeparture"] = stop_events["prev_actualDeparture"].astype("datetime64[ns]")



stop_events.head(30)

print(stop_events.shape)

stop_events = stop_events.dropna(axis=0)

# # stop_events = stop_events[stop_events.id != "NaN"]

print(stop_events.shape)

stop_events = stop_events.drop(['vehicle', 'workid', 'workCode','tripCode','match'], axis=1)

(4256583, 43)
(4241388, 43)

In [5]:
stop_events.head(5)

,id,date,stopCode,aimedArrival,aimedDeparture,actualArrival,actualDeparture,patternId,publicName,scheduledStart,...,mean_dwell_prev_durations_by_stop_code,mean_dwell_dest_by_stop_code_and_hour,mean_dwell_prev_by_stop_code_and_hour,mean_dwell_dest_by_stop_code_and_hour_and_day,mean_dwell_prev_by_stop_code_and_hour_and_day,line_distance,midpoint_lat,midpoint_lon,to_centre_dist,direction
0,167_101_1,2018-09-18,1200BOB20158,2018-09-18 07:02:00,2018-09-18 07:02:00,2018-09-18 07:02:03,2018-09-18 07:02:08,167_79,1a,25200,...,342.259793,26.667984,342.898507,24.176471,362.883721,0.464474,-1.742191,50.742778,10.024414,0.754853
1,167_101_1,2018-09-18,1200BOB20156,2018-09-18 07:03:00,2018-09-18 07:03:00,2018-09-18 07:02:25,2018-09-18 07:02:30,167_79,1a,25200,...,28.084988,10.464151,26.667984,11.787879,24.176471,0.217418,-1.745413,50.740586,9.745283,0.965312
2,167_101_1,2018-09-18,1200BOB20155,2018-09-18 07:04:00,2018-09-18 07:04:00,2018-09-18 07:02:48,2018-09-18 07:02:53,167_79,1a,25200,...,13.757110,23.686347,10.464151,32.272727,11.787879,0.245692,-1.748197,50.739482,9.526394,0.927024
3,167_101_1,2018-09-18,1200BOB20153,2018-09-18 07:05:00,2018-09-18 07:05:00,2018-09-18 07:03:11,2018-09-18 07:03:16,167_79,1a,25200,...,21.841974,29.801471,23.686347,31.787879,32.272727,0.235304,-1.751031,50.738274,9.302113,0.938545
4,167_101_1,2018-09-18,1200BOB20151,2018-09-18 07:07:00,2018-09-18 07:07:00,2018-09-18 07:03:58,2018-09-18 07:04:51,167_79,1a,25200,...,30.854500,43.127341,29.801471,43.093750,31.787879,0.484816,-1.755623,50.736871,8.953191,0.983819

### Looking at journeys back in time

In [6]:
total_time_travelers = stop_events[stop_events.actualArrival < stop_events.prev_actualDeparture].count()['id']

print(f"Out of {stop_events.shape[0]} stop events {total_time_travelers} go backawards in time.")
print(f"This represents {total_time_travelers*100/stop_events.shape[0]:0.5f}%")

Out of 4241388 stop events 168 go backawards in time.
This represents 0.00396%

In [7]:
stop_events.loc[stop_events.actualArrival < stop_events.prev_actualDeparture].head(5)

,id,date,stopCode,aimedArrival,aimedDeparture,actualArrival,actualDeparture,patternId,publicName,scheduledStart,...,mean_dwell_prev_durations_by_stop_code,mean_dwell_dest_by_stop_code_and_hour,mean_dwell_prev_by_stop_code_and_hour,mean_dwell_dest_by_stop_code_and_hour_and_day,mean_dwell_prev_by_stop_code_and_hour_and_day,line_distance,midpoint_lat,midpoint_lon,to_centre_dist,direction
45170,167_8_1,2018-09-18,1280POA90816,2018-09-18 07:21:00,2018-09-18 07:21:00,2018-09-18 07:17:39,2018-09-18 07:18:35,167_133,1c,22920,...,7.459608,46.000000,8.085000,52.189189,6.939394,0.068421,-1.961874,50.723654,5.777937,-0.757769
93606,167_760_2,2018-09-19,1280BOB20038,2018-09-19 08:09:00,2018-09-19 08:09:00,2018-09-19 08:15:25,2018-09-19 08:15:28,167_259,6,27000,...,10.300615,6.696517,10.994819,7.800000,10.090909,0.251794,-1.927804,50.769150,6.417368,-0.786720
101272,167_131_19,2018-09-20,1200BOB20147,2018-09-20 21:06:00,2018-09-20 21:06:00,2018-09-20 21:04:50,2018-09-20 21:05:59,167_106,1b,75900,...,421.624658,13.710468,447.610039,13.086957,468.872340,0.203470,-1.767963,50.734604,8.051512,0.623018
108908,167_211_11,2018-09-20,1290BOB20523,2018-09-20 15:22:00,2018-09-20 15:22:00,2018-09-20 15:23:20,2018-09-20 15:23:27,167_175,3,52980,...,16.852823,10.158963,17.448957,9.574803,19.562044,0.265040,-1.892578,50.720603,0.887969,-0.927667
134145,167_801_10,2018-09-20,1290DOB21210,2018-09-20 15:27:00,2018-09-20 15:27:00,2018-09-20 15:28:22,2018-09-20 15:28:58,167_72,1a,54600,...,25.804322,10.760052,23.812895,13.176471,23.100840,0.143660,-1.821896,50.732126,4.306445,-0.992182

In [8]:
time_travelers = stop_events.loc[stop_events.actualArrival < stop_events.prev_actualDeparture].merge(stops, 'left', on=['stopCode'])

In [9]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(time_travelers[['lat','lon']]))
fig

Figure(layout=FigureLayout(height='420px'))

### Looking at Journeys that took zero time

In [10]:
total_zero_time_travelers = stop_events[stop_events.actualArrival == stop_events.prev_actualDeparture].count()['id']

print(f"Out of {stop_events.shape[0]} stop events {total_zero_time_travelers} take zero time.")
print(f"This represents {total_zero_time_travelers*100/stop_events.shape[0]:0.5f}%")

Out of 4241388 stop events 3459 take zero time.
This represents 0.08155%

In [11]:
stop_events.loc[stop_events.actualArrival == stop_events.prev_actualDeparture][['stopCode', 'prev_stopCode']].head(5)

          stopCode prev_stopCode
3348  1290BOB20426  1290BOB20435
3349  1290BOB20424  1290BOB20426
3350  1290BOB20415  1290BOB20424
3351  1290BOB20414  1290BOB20415
3352  1290BOB20412  1290BOB20414

In [12]:
zero_timers = stop_events.loc[stop_events.actualArrival == stop_events.prev_actualDeparture].merge(stops, 'left', on=['stopCode'])

In [13]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(zero_timers[['lat','lon']]))
fig

Figure(layout=FigureLayout(height='420px'))

### Looking at journeys that take over 10 minutes

In [14]:
total_slow_coaches = stop_events[((stop_events.actualArrival - stop_events.prev_actualDeparture).astype('timedelta64[s]') > 600)].count()['id']

print(f"Out of {stop_events.shape[0]} stop evetns {total_slow_coaches} journeys take over 10 minutes.")
print(f"This represents {total_slow_coaches*100/stop_events.shape[0]:0.4f}%")

Out of 4241388 stop evetns 1909 journeys take over 10 minutes.
This represents 0.0450%

In [15]:
stop_events.loc[((stop_events.actualArrival - stop_events.prev_actualDeparture).astype('timedelta64[s]') > 600)].head(5)

,id,date,stopCode,aimedArrival,aimedDeparture,actualArrival,actualDeparture,patternId,publicName,scheduledStart,...,mean_dwell_prev_durations_by_stop_code,mean_dwell_dest_by_stop_code_and_hour,mean_dwell_prev_by_stop_code_and_hour,mean_dwell_dest_by_stop_code_and_hour_and_day,mean_dwell_prev_by_stop_code_and_hour_and_day,line_distance,midpoint_lat,midpoint_lon,to_centre_dist,direction
3266,167_143_8,2018-09-18,1200DOY38562,2018-09-18 12:46:00,2018-09-18 12:46:00,2018-09-18 12:58:19,2018-09-18 12:58:30,167_91,1b,43500,...,14.598474,414.923567,14.609342,419.847826,13.604027,0.216754,-1.768026,50.734648,8.048142,-0.615378
11366,167_217_11,2018-09-18,1290DOB21131,2018-09-18 14:22:00,2018-09-18 14:22:00,2018-09-18 14:23:26,2018-09-18 14:24:15,167_220,4,51000,...,44.089808,8.954225,47.465677,7.632653,36.333333,0.144088,-1.844814,50.751834,4.319978,-0.138590
12834,167_221_1,2018-09-18,1290BOB20003,2018-09-18 07:37:00,2018-09-18 07:37:00,2018-09-18 07:49:30,2018-09-18 07:49:39,167_235,4a,27000,...,38.866607,20.026549,40.560000,17.166667,26.875000,0.599364,-1.914567,50.769379,6.005256,0.495273
13066,167_221_15,2018-09-18,1290DOB21131,2018-09-18 20:02:00,2018-09-18 20:02:00,2018-09-18 20:05:11,2018-09-18 20:05:18,167_220,4,71400,...,44.089808,9.040000,42.111111,4.000000,22.151515,0.144088,-1.844814,50.751834,4.319978,-0.138590
13954,167_222_6,2018-09-18,1290BOA05335,2018-09-18 12:18:00,2018-09-18 12:22:00,2018-09-18 12:24:30,2018-09-18 12:27:13,167_220,4,43800,...,19.360306,45.886562,20.221865,47.187500,19.321429,0.131329,-1.844715,50.751816,4.322337,0.186341

In [16]:
slow_coaches = stop_events.loc[((stop_events.actualArrival - stop_events.prev_actualDeparture).astype('timedelta64[s]') > 600)].merge(stops, 'left', on=['stopCode'])

In [17]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(slow_coaches[['lat','lon']]))
fig

Figure(layout=FigureLayout(height='420px'))

### Looking at all journeys

In [18]:
stop_events = stop_events.merge(stops, 'left', on=['stopCode'])

In [19]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(stop_events[['lat','lon']]))
fig

Figure(layout=FigureLayout(height='420px'))

### Looking at segments

In [20]:
just_segments = stop_events.drop_duplicates(subset=['segment_code'])

In [21]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(just_segments[['lat','lon']]))
fig

Figure(layout=FigureLayout(height='420px'))